# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
env/
venv/
ENV/

data.py

#dists
dist/
src/python_whatsapp_bot.egg-info/
